Vagrant.configure(2) do |config|
  config.vm.box = "dsonstebo/BaseCentOS71"
  config.vm.box_check_update = true
  config.vm.hostname = "centos1.vagrant.local"
  config.vm.post_up_message = "centos1.vagrant.local is up and running"
  config.vm.synced_folder ".", "/vagrant", disabled: true
end